*   {
    box-sizing: border-box;
}

.navbar  {
    font-size: 50px;
    display: flex;
    background-color: #000000;
    padding: 30px ;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 500px;
}
.container {
    position: relative;
    display: inline-block;
}
body {
    text-align: center;
    margin: 0;
    color: beige;
    min-height: 200vh;
}
.box {
    border: 6px solid #fff;
    transition: 0.25s ease ;
    background: #ffffff;
    padding: 10px;
}
p { 
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;
}
video {
    margin-top: 200px;
    width: 900px;
    background-color: #00ff40;

}
.image {
    width: 100%;
    height: auto;
}
.texte {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}
button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 20px 30px;

}

.container {
    background-color: black;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

